{
    font-family: Arial, helvetica, sans-serif;
    font-size: 16px
}
body {
    background-color: rgb(89, 145, 145);

}
img.git{
    width: 120px;
    float: right;
}

img.centro {
    width: 200px;
    float: right;
}
main {
    background-color: white;
    width: 500px;
    margin auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(138, 133, 133);
}